 .u-section-1 {
  background-image: none;
  min-height: 440px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 2;
  margin: 0 34px 0 29px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 714px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 125px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 669px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 897px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2936px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 718px;
  margin: 29px auto 0;
}

.u-section-2 .u-list-1 {
  width: 899px;
  grid-template-rows: auto auto auto;
  margin: 76px auto 50px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 100px 100px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/photo.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 464px;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/pulkit.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-2 {
  width: 464px;
  background-size: auto;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-3 {
  width: 308px;
  height: 308px;
  background-image: url("images/chetan.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-3 {
  width: 464px;
  background-size: auto;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-4 {
  width: 308px;
  height: 308px;
  background-image: url("images/pranav.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-4 {
  width: 464px;
  background-size: auto;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-15 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-5 {
  width: 308px;
  height: 308px;
  background-image: url("images/pj.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-5 {
  width: 464px;
  background-size: auto;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-19 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-20 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-6 {
  width: 308px;
  height: 308px;
  background-image: url("images/anshuman.jpg");
  background-position: 50% 50%;
  margin: 24px 538px 0 auto;
}

.u-section-2 .u-group-6 {
  width: 464px;
  background-size: auto;
  min-height: 326px;
  margin: -302px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-21 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 33px;
}

.u-section-2 .u-icon-22 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 308px;
}

.u-section-2 .u-icon-23 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 127px;
}

.u-section-2 .u-icon-24 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 214px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    margin-left: -3px;
  }

  .u-section-2 .u-group-6 {
    margin-left: 379px;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 332px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 121px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 121px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-10 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-12 {
    margin-right: 121px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-14 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-16 {
    margin-right: 121px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-5 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-18 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-20 {
    margin-right: 121px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
    margin-right: 382px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-6 {
    margin-top: -278px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-21 {
    margin-left: 3px;
  }

  .u-section-2 .u-icon-22 {
    margin-right: 33px;
  }

  .u-section-2 .u-icon-23 {
    margin-left: 93px;
  }

  .u-section-2 .u-icon-24 {
    margin-right: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5562px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 406px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 4926px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    transform-origin: right center;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-7 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-icon-9 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-10 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-11 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-12 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-icon-13 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-14 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-5 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-icon-17 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-18 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-19 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-20 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-6 {
    min-height: 327px;
    margin-top: 50px;
    margin-left: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    width: auto;
  }

  .u-section-2 .u-icon-21 {
    margin-top: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-icon-22 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-23 {
    margin-top: -65px;
    margin-left: 148px;
  }

  .u-section-2 .u-icon-24 {
    margin-top: -63px;
    margin-right: 154px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5606px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 82px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 480px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-1 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -64px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-2 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -64px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-3 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-12 {
    margin-top: -64px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-4 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-13 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-14 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-15 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: -64px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-5 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-18 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-20 {
    margin-top: -64px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -352px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-6 {
    min-height: 800px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-21 {
    margin-left: 17px;
  }

  .u-section-2 .u-icon-22 {
    margin-left: 260px;
  }

  .u-section-2 .u-icon-23 {
    margin-left: 98px;
  }

  .u-section-2 .u-icon-24 {
    margin-top: -64px;
    margin-right: 98px;
  }
}